.App {
  text-align: center;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: unset;
  border-color: grey;
}

tr {
  text-align: left;
}

tr:nth-child(even) > td {
  filter: brightness(.90);
}

pre {
  font-family: inherit;
  /*display: flex;*/
  /*flex-direction: row;*/
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  height: 40px;
}

/*.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {*/
/*  padding:0;*/
/*}*/

.MuiInputBase-input .MuiOutlinedInput-input {
  padding: 0

}

.compare-table-box {
  overflow-y: scroll;
  /*height: 100%;*/
}

.field-input-box {
  justify-self: stretch;
  margin: 5px 10px;
  height: max-content;
}

.title-block {
  background: #fafbfc;
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
  width: 150px;
}

.att-name {
  background-color: white;
}

.pre-style {
  line-height: 25px;
  padding:0 10px
}

/*.MuiInputBase-input {*/
/* */
/*}*/

/*.MuiInputBase-root {*/
/*  height: 2rem;*/
/*}*/

/*.MuiFormLabel-root {*/
/*  transform: translate(2px, 6px) scale(1);*/
/*}*/
