body {
  height: 97vh;
}

#root {
  height: 100%
}
.App {
  text-align: center;
  font-family: Inter var,Roboto,"Helvetica",Arial,sans-serif;
  height: 100%;
  /*width: 100%;*/
/*margin: 50px;*/
}

/*** Main Page ***/
#content-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 16px;
  height: 100%;
  min-height: 0;
}

.body-content-boxes {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 10px;
  /*height: 100%;*/
  flex: 1;
  min-height: 0;

}

/*** Tab Component ***/
#tab-panel-full {
  display: flex;
  flex-direction: column;
}

/*** Tab panel ***/
.tab-panel-component {
  height: 100%;
  /*max-height: 380px;*/
  min-height: 0;
}

.single-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab-name {
  width: 75px;
}

.tab-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.tab-body-title {
  grid-column: 2;
}
/*** Lookup Form ***/
.field-input-box {
  justify-self: stretch;
  margin: 5px 10px;
  /*height: max-content;*/
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}


/*** Single Location ***/
.tab-body-title-right {
  align-self: center;
}

.title-block {
  background: #fafbfc;
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
  /*width: 150px;*/
  width: 50%;
}

.table-divider {
  border-right: solid 1px rgb(238, 238, 238);
}

.att-name {
  background-color: white;
}

.pre-style {
  line-height: 25px;
  padding:0 10px
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: unset;
  border-color: grey;
  width: 100%;
  height: 100%;
}

tr {
  text-align: left;
}

tr:nth-child(even) > td {
  filter: brightness(.90);
}

.Mui-even {
  /*filter: brightness(.90);*/
  background-color: #e3e3e3;
}



pre {
  font-family: inherit;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  height: 40px;
}

.MuiInputBase-input .MuiOutlinedInput-input {
  padding: 0
}

#compare-data-table, #single-location-info {
  overflow: auto;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 4px;
  /*height: 400px;*/
  min-height: max-content;
  max-height: 100%;
}



