.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: unset;
  border-color: grey;
}

tr {
  text-align: left;

}

tr:nth-child(even) > td {
  filter: brightness(.90);
}

pre {
  font-family: inherit;
  /*display: flex;*/
  /*flex-direction: row;*/
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  height: 40px;
}

/*.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {*/
/*  padding:0;*/
/*}*/

.MuiInputBase-input .MuiOutlinedInput-input {
  padding: 0

}

.compare-table-box {
  overflow-y: scroll;
}

.field-input-box {
  justify-self: stretch;
  margin: 5px 10px;
  height: max-content;
}

.title-block {
  background: #fafbfc;
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
  width: 150px;
}

.att-name {
  background-color: white;
}

.pre-style {
  line-height: 25px;
  padding:0 10px
}

/*.MuiInputBase-input {*/
/* */
/*}*/

/*.MuiInputBase-root {*/
/*  height: 2rem;*/
/*}*/

/*.MuiFormLabel-root {*/
/*  transform: translate(2px, 6px) scale(1);*/
/*}*/
